<!-- Seção 3 -->
                <section id="section-3">
                    <div class="row bg-section-10 topico section-shadow">
                        <div class="medium-12 columns">
                            <div class="medium-10 text-center columns medium-centered">
                                <br>
                                {{ page.blank | markdownify }}
                            </div>     
                        </div>
                </section>