<!-- Seção 4 -->
                <section id="section-4">
                    <div class="row bg-section-11 topico section-shadow">
                        <div class="medium-12 columns">
                            <div class="medium-10 text-center columns medium-centered">
                                <br>
                                {{ page.boxes.text | markdownify }}

                            </div>     
                        </div>
                        
                        <div class="medium-12 columns">
                            <div class="medium-10 text-center columns medium-centered">
                                
                                {% for post in site.categories.[page.boxes.category] limit: {{ page.boxes.max-posts }} %}
                            
                                    <div class="medium-4 columns text-left" >
                                        <div class="row medium-14 columns midia-box ">
                                            <div class="small-1 medium-3 large-2 columns">
                                                <img src="/static/images/icon_play-circular.png" class="icon-now-small">
                                            </div>

                                            <div class="small-11 medium-9 large-10 columns n">
                                                <a href="{{ post.url }}" target="_blank"><h6>{{ post.title }} </h6></a>
                                                <a href="{{ post.source.link }}"><p>{{ post.source.name }} </p></a>
                                            </div>
                                        </div>
                                    </div>
                            
                                {% endfor %}
                            
                            <br><br>
                            </div>
                        </div>
                        
                       
                    </div>
                </section>