<!-- Orbit -->
                <section id="section-3">
                <div class="row bg-section-7 topico section-shadow">
                    <div class="small-12 column">
                        <div class="small-12 medium-8 medium-offset-2 text-center column">
                            <h1><br>
                                    Casos Emblemáticos
                            </h1>
                            
                            
                            
                        </div>
                    </div>
            
                    
               
                    <div class="small-11 small-centered medium-11 medium-centered large-11 large-centered">
                        
                        
                         <div id="owl-demo" class="owl-carousel owl-theme">
                                 {% for item in site.pages %}
                                    
                                      {% if item.layout == 'campaign' %}
                                            <div class="item">
                                                <img class="icon-box-campanha" src="{{ item.header.thumbnail }}"> <br>
                                                <div class="orbit-box-title"><h5>{{ item.header.title | truncatewords: 10 }}</h5></div>
                                                <div class="orbit-box-summary"><p>{{ item.header.summary | truncatewords: 20 }}</p></div>
                                                
                                                <a href="{{ item.url }}" role="tab" class="button custom radius absolute-bottom"  target="_blank" aria-controls="panel11a"> {{ item.header.button }} </a>
                                            </div>
                                        {% endif %}
                                          
                                    {% endfor %}
                            </div>
                                
                        <br>
                    </div>
                </div>
                </section>
