 <!-- START SECTION 2: OBJECTIVES -->
                <section id="section-2">
                    <div class="row bg-section-2 topico section-shadow">
                        <div class="small-12 column">
                            <div class="small-12 medium-8 medium-offset-2 text-center column">
                                <h1><br>
                                </h1>
                                {{ page.columns.text | markdownify }}
                            </div>
                        </div>
                        
                        <div class="row small-12 column">
                            <div class="medium-10 text-center column medium-centered ">
                            <div class="small-6 columns text-left">
                                
                                {% for item in page.columns.left %}
                                    {{ item | markdownify }}
                                {% endfor %}
                                
                            </div>

                            <div class="small-6 columns text-left">

                                {% for item in page.columns.right %}
                                    {{ item | markdownify }}
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        <br>
                    </div>
                </section>
                <!-- END SECTION 2 -->
