 <!-- START SECTION 6: CONTACT -->
                <section id="section-6">
                    <div class="row bg-section-5 topico section-shadow">
                        <div class="small-8 column text-center small-centered" >
                                <br>
                                {{ page.contact.text | markdownify }}
                                
                                <div class="row small-12 column">
                                    <div class="medium-5 columns ">
                                       {% for item in page.contact.left %}
                                            {{ item | markdownify }}
                                        {% endfor %}
                                    </div>
                                    
                                    <div class="medium-5 columns medium-offset-1">
                                        {% for item in page.contact.right %}
                                            {{ item | markdownify }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <!-- END SECTION 6 -->