<!-- START SECTION 3: EMBEDDED TOOL -->
                <section id="section-3">
                    <div class="row bg-section-3 topico section-shadow">
                        <div class="small-12 column">
                            <div class="medium-10 text-center column medium-centered ">
                                <h1 class="margin-0"><br>
                                </h1>
                                
                                {{ page.embedd.text | markdownify  }}
                                
                                <br><br>
                            </div>    
                        </div>
                         <div class="row">
                            <div class="medium-10 columns medium-centered">
                                <div class="s-embeded">
                                    <a href="{{ page.embedd.link }}" class="the-click" target="_blank"></a>
                                    <!-- <iframe src="{{ page.embedd.link  }}" id="codingrights-pls" scrolling="no" ></iframe> -->
                                    
                                    <div class="print-embedd">&nbsp;&nbsp;</div>
                                </div>
                            </div> <br><br>
                        </div>  
                    </div>    
                </section>
                <!-- END SECTION 3 -->
