<!-- START SECTION 7: FOLLOW US-->
                <section id="section-7">
                    <div class="row bg-section-6 topico section-shadow">
                        <div class="row small-12 column">
                            <div class="medium-10 text-center column medium-centered ">
                               {{ page.follow.text  | markdownify }}
                            </div>
                        </div>
                        <div class="row small-12 column medium-centered">
                            <div class="medium-11 text-center column medium-centered">
                                {% for item in page.follow.social %}
                                    <a href="{{ item.link }}" target="_blank"><i class="{{ item.icon }} icon-circle "></i></a>
                                {% endfor %}
                                
                               
                                <!-- <a href="https://twitter.com/cdr_br" target="_blank"><i class="fi-social-twitter icon-circle "></i></a>
                             
                                <a href=" https://jenaspora.de/u/internetlivre_" target="_blank"><i class="fi-asterisk icon-circle "></i></a>
                        
                                <a href="https://www.facebook.com/internetsobataque/?notif_t=page_fan&notif_id=1471297229315077" target="_blank"><i class="fi-social-facebook icon-circle "></i></a>
                                
                                <a href="https://www.youtube.com/channel/UCR3opUOZB0I669-vvjZCB8A/videos" target="_blank"><i class="fi-social-youtube icon-circle "></i></a> -->
                            </div>
                        </div>
                        
                    </div>
                </section>
                <!-- END SECTION 7 -->