<section id="section_8_0">

                    <div class="row bg-section-8_0 topico section-shadow">
                        <div class="row small-12 column">
                            <img src="static/images/logos.png">
                        </div>
                    </div>
</section>

<section id="section-8">
                    <div class="row bg-section-8_2 topico section-shadow">
                        <div class="row small-12 column">
                            <div class="medium-10 text-center column medium-centered ">
                                <p> <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Todo o conteúdo </span> da <a xmlns:cc="http://creativecommons.org/ns#" href="https://no-corp.org" property="cc:attributionName" rel="cc:attributionURL">No Corp Today</a> está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons - Atribuição-NãoComercial 4.0 Internacional</a>.<br />Baseado no trabalho disponível em <a xmlns:dct="http://purl.org/dc/terms/" href="https://no-corp.org" rel="dct:source">https://no-corp.org</a>.<br />Podem estar disponíveis autorizações adicionais às concedidas no âmbito desta licença em <a xmlns:cc="http://creativecommons.org/ns#" href="https://no-corp.org" rel="cc:morePermissions">https://no-corp.org</a>. </p>
                            </div>    
                        </div>
                    </div>
                </section> 
            

                <!-- END CONTENT -->
            </div>
        </div>
    <!-- END SITE -->
    
    
    <!-- SCRIPTS FUNDAMENTAL -->
    <script src="{{ url }}/static/js/vendor/jquery.min.js"></script>
    <script src="{{ url }}/static/js/vendor/what-input.min.js"></script>
    <script src="{{ url }}/static/js/foundation.min.js"></script>
    <script src="{{ url }}/static/js/app.js"></script>
<!-- Include js plugin -->
    <script src="{{ url }}/static/js/owl-carousel/owl.carousel.js"></script>

</body>
</html>
