<!-- Orbit -->
                <section id="section-0">
                <div class="row section-shadow">
                    <div class="large-12">
                        <div class="orbit" role="region" aria-label="Destaques" data-orbit>
                            <ul class="orbit-container destaques">
                                <!--<button class="orbit-previous"><span class="show-for-sr">Anterior</span> &#9664;&#xFE0E;</button>
                                <button class="orbit-next"><span class="show-for-sr">Próximo</span> &#9654;&#xFE0E;</button> -->
                                <!-- AQUI VÃO OS SLIDES DO CAROUSEL. TODO: FAZER O HTML/CSS DOS SLIDES -->
                                <li class="orbit-slide is-active">
                                    <div class="image-container">
                                        <img class="orbit-image" src="{{ page.header.image }}"/>
                                    </div>
                                    
                                            
                                      {% if page.header.showtitle == null %} 
                                    <div class="orbit-caption">
                                        <div class="header-text ">
                                         
                                             <div class="img-circle hide-for-small-only"><img class="img-circle" src="{{ page.header.icon }}" alt="Generic placeholder image" ></div>
                                            
                                            <div class="hide-for-small-only">
                                                <p class="title-header">{{ page.header.title }} </p>
                                                <p class="subtitle-header">{{ page.header.summary }}</p>
                                            </div>

                                            <!-- <p class="btn-header  hide-for-small-only"><img src="{{ site.url }}/{{ site.baseurl }}/static/images/icon_play-circular.png" class="icon-now">&nbsp;&nbsp;&nbsp;<a href="#" >AGIR AGORA</a></p> -->
                                        </div>
                                    </div>
                                       {% endif %}
                        
                                </li>
                                <!-- FIM DOS SLIDES DO CAROUSEL -->
                            </ul>
                            
          
                            <!-- Bullets de navegação dos slides. Devem ter tantos bullets quantos slides -->
                     
                            <!--
                            <nav class="orbit-bullets">
                                <button class="is-active" data-slide="0"><span class="show-for-sr">Slide 1</span><span class="show-for-sr">Current Slide</span></button>
                                <button data-slide="1"><span class="show-for-sr">Slide 2</span></button>
                                <button data-slide="2"><span class="show-for-sr">Slide 3</span></button>
                                <button data-slide="3"><span class="show-for-sr">Slide 4</span></button>
                            </nav> 
                            -->
                              
                        </div>
                    </div>
                </div>
                </section>