<!doctype html>
<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

 * Version:     1.0.0
 * Description: Platform for mobilizing democratic causes and parliamentary pressure
 * Author:      Thiago Paixão <tap@thiagopaixao.com>
 * Author URI:  https://thiagopaixao.com
 * Repository:  https://gitlab.com/thiagopaixao/mobilize.org.git
 * Issues:      https://gitlab.com/thiagopaixao/mobilize.org/issues       
 * License:     GPL-3.0+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.txt
 * Copyright    20015-2016 Thiago Paixão
-->
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth < 1 %}{% assign base = '.' %}
{% elsif depth == 1 %}{% assign base = '../' %}
{% elsif depth == 2 %}{% assign base = '../..' %}
{% elsif depth == 3 %}{% assign base = '../../..' %}
{% elsif depth == 4 %}{% assign base = '../../../..' %}{% endif %}
                  
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>No Corp</title>
    <!--<link rel="stylesheet" href="css/foundation.min.css"/>
    <link rel="stylesheet" href="css/icons/foundation-icons.css"/> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ base }}/css/app.css"/>
    <link rel="stylesheet" href="{{ base }}/static/css/style.css"/>
    <link rel="stylesheet" href="{{ base }}/static/css/theme.css"/>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round|Roboto' rel='stylesheet' type='text/css'>
    <!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{{ base }}/static/js/owl-carousel/owl.carousel.css">
 
<!-- Default Theme -->
<link rel="stylesheet" href="{{ base }}/static/js/owl-carousel/owl.theme.css">
 
    <style>
        


@font-face {
    font-family: 'novecento_sans_wide_bookbold';
    src: url('{{ base }}/static/fonts/synthview-novecento_sans_wide_bold-webfont.woff2') format('woff2'),
         url('{{ base }}/static/fonts/synthview-novecento_sans_wide_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widebook';
    src: url('{{ base }}/static/fonts/synthview-novecento_sans_wide_book-webfont.woff2') format('woff2'),
         url('{{ base }}/static/fonts/synthview-novecento_sans_wide_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'novecento_sans_widedemibold';
    src: url('{{ base }}/static/fonts/synthview-novecento_sans_wide_demibold-webfont.woff2') format('woff2'),
         url('{{ base }}/static/fonts/synthview-novecento_sans_wide_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('{{ base }}/static/fonts/pts55f-webfont.woff2') format('woff2'),
         url('{{ base }}/static/fonts/pts55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('{{ base }}/static/fonts/pts56f-webfont.woff2') format('woff2'),
         url('{{ base }}/static/fonts/pts56f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('{{ base }}/static/fonts/pts75f-webfont.woff2') format('woff2'),
         url('{{ base }}/static/fonts/pts75f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('{{ base }}/static/fonts/pts76f-webfont.woff2') format('woff2'),
         url('{{ base }}/static/fonts/pts76f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    
    </style>
    
</head>
<body>

