 <!-- START SECTION 2: OBJECTIVES -->
                <section id="section-d">
                    <div class="row bg-section-6 topico section-shadow">
                        <div class="small-12 column">
                            <div class="small-12 medium-8 medium-offset-2 text-center column">
                                <h1><br>
                                </h1>
                                {{ page.list.text | markdownify }}
                            </div>
                        </div>
                        
                        <div class="row small-12 column">
                            <div class="medium-10 text-center column medium-centered ">
                                <div class="list-box medium-9 medium-centered ">
                                    <div class="list-box-number">.</div>
                                    <div class="list-box-icon list-box-color1">
                                        <i class="fi-dollar"></i>
                                    </div>
                                    <div class="list-box-text list-box-color1">
                                        <p> Desfinanciamiento del Estado y dificuldades para alcanzar el desarrolo.</p>
                                    </div>
                                </div>
                                
                                
                                <div class="list-box medium-9 medium-centered ">
                                    <div class="list-box-text list-box-color2">
                                        <p> Afectación de derechos humanos, laborales y medioambientales causada por el accionar de las ETN, sus proveedores y/o subsidiarias.</p>
                                    </div>
                                    <div class="list-box-icon list-box-color2">
                                        <i class="fi-torsos"></i>
                                    </div>
                                </div>
                                <div class="list-box medium-9 medium-centered ">
                                    <div class="list-box-number">.</div>
                                    <div class="list-box-icon list-box-color3">
                                        <i class="fi-home"></i>
                                    </div>
                                    <div class="list-box-text list-box-color3">
                                        <p> Influencia sobre oluntades políticas para incidir en decisiones gubermamentales y favorecer interesses corporativos.</p>
                                        <!-- p> Mescanismos: cabildeo puertas giratorias y financiamento de campañas políticas.</p -->
                                    </div>
                                </div>
                                
                                
                                <div class="list-box medium-9 medium-centered ">
                                    <div class="list-box-text list-box-color4">
                                        <p> Difusiónde un modelo hegemónico consumista sobre otros valores sociales y práticas culturales.</p>
                                        <!-- p>Mecanismos: uso de medios de comunicación massiva para promover patrones de consumo y acumulación funcionales a las corporaciones.</p -->
                                    </div>
                                    <div class="list-box-icon list-box-color4">
                                        <i class="fi-skull"></i>
                                    </div>
                                </div>
                                <div class="list-box medium-9 medium-centered ">
                                    <div class="list-box-number">.</div>
                                    <div class="list-box-icon list-box-color5">
                                        <i class="fi-graph-pie"></i>
                                    </div>
                                    <div class="list-box-text list-box-color5">
                                        <p> Produccipón, apropiación y difusión del conocimiento científico-tecnológico en manos intereses corporativos.</p>
                                        <!-- p> Mecanismos: cooptación de universidades e instigadores, financiamiento de fundaciones, think tanks, desarrollo de tecnologías cerradas. </p -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </section>
                <!-- END SECTION 2 -->
