<!-- BEGINS SITE -->
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <!-- Menu bar for mobile -->
            <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="off-canvas-menu"></button>
                    <span class="title-bar-title"></span>
                    <li class="menu-text"><img class="menu-logo" src="/static/images/logos/logo_nocorp.png"></li>

                </div>
            </div>
            
            <!-- Menu lateral para celulares -->
            <div class="off-canvas position-left" id="off-canvas-menu" data-off-canvas>
                <ul class="vertical dropdown menu" data-dropdown-menu>
                     <li><a href="{{site.url }}/#section-0"><span class="underline">CAPTURA CORPORATIVA</span></a></li>
                                <li><a href="{{site.url }}/#section-2"><span class="underline">PRIVATIZACIÓN DEMOCRACIA</span></a></li>
                                <li><a href="{{site.url }}/#section-3"><span class="underline">CASOS EMBLEMÁTICOS</span></a></li>
				<li><a href="{{site.url }}/blog/"><span class="underline">BLOG</span></a></li>
                                <!-- <li><a href="#section-4"><span class="underline">TIMELINE</span></a></li>-->
                           
                                <li><a href="#section-6"><span class="underline">CONTATO</span></a></li>
                </ul>
            </div>
            
            <!-- Menu bar for Desktop -->
            <div data-sticky-container>
                <div class="small-12 sticky" data-sticky data-options="marginTop: 0">
                    <nav class="top-bar" id="widemenu" data-topbar role="navigation">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <span class="title-bar-title"></span>
                                <li class="menu-text"><img class="menu-logo" src="/static/images/logos/logo_nocorp.png"></li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="menu" data-dropdown-menu>
                                <li><a href="{{site.url }}/#section-0"><span class="underline">CAPTURA CORPORATIVA</span></a></li>
                                <li><a href="{{site.url }}/#section-2"><span class="underline">DEMOCRACIA</span></a></li>
                                <li><a href="{{site.url }}/#section-3"><span class="underline">CASOS</span></a></li>
                               <li><a href="{{site.url }}/#section-d"><span class="underline">DIMENSIONES</span></a></li>
                               <li><a href="{{site.url }}/#section-c"><span class="underline">CUSTO</span></a></li>
                               <li><a href="{{site.url }}/#section-r"><span class="underline">RAZONES</span></a></li>
				                <li><a href="{{site.url }}/blog/"><span class="underline">BLOG</span></a></li>


                                <!-- <li><a href="#section-4"><span class="underline">TIMELINE</span></a></li>-->
                           
                                <li><a href="{{site.url }}/#section-6"><span class="underline">CONTATO</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            
