<!-- Seção 3 -->
                <section id="section-3">
                    <div class="row bg-section-10 topico section-shadow">
                        <div class="medium-12 columns">
                            <div class="medium-10 text-center columns medium-centered">
                                <br>
                                {{ page.partners.text | markdownify }}
                            </div>     
                        </div>
                        
                        <div class="medium-12 columns text-center"><br><br></div>
                        
                        {% for item in page.partners.item %}
                        
                            <div class="medium-12 columns">
                                <div class="medium-10 text-justify columns medium-centered">
                                    <!-- <div class="small-12 medium-3 columns text-center ">
                                        <img class="img-foto-perfil" src="{{ item.image }}">
                                        <br>
                                    </div> -->


                                    <div class="small-12 medium-12 medium-text-left columns  end">
                                        <img class="img-foto-parceiro" src="{{ item.image }}">
                                        {{ item.text | markdownify }}

                                        <a href="{{ item.link }}" role="tab" class="button custom radius"  target="_blank" aria-controls="panel11a">ACESSAR</a>
                                    </div>
                                </div>
                            </div>

                            <div class="medium-12 columns text-center"><br><br></div>
                        
                        {% endfor %}
                        
                    </div>
                </section>