 <!-- Seção 2 -->
                <section id="section-2">
                    <div class="row bg-section-9 topico section-shadow">
                        <div class="medium-12 columns">
                            <div class="medium-10 text-center columns medium-centered">
                                <br>
                                {{ page.resources.text | markdownify }}
                                <br>
                            </div>     
                        </div>
                        
                        <div class="medium-12 columns">
                            <div class="medium-10 text-center columns medium-centered">
                                <div class="small-8 medium-3 columns text-center ">
                                    {{ page.resources.left.title | markdownify }}
                                    <img class="img-foto-perfil" src="{{ page.resources.left.image }}">
                                </div>
                                <div class="small-4 medium-1 columns text-center ">
                                    <a href="{{ page.resources.left.image }}" role="tab" class="button custom middle radius"  target="_blank" aria-controls="panel11a">BAIXAR</a>
                                </div>
                                <div class="medium-1 columns text-center">&nbsp;</div>
            
                                <div class="medium-6 columns text-center">
                                    {{ page.resources.right.title | markdownify }}
                                    <img class="img-capa-perfil" src="{{ page.resources.right.image }}">
                                </div>
                                <div class="medium-1 columns text-center end ">
                                    <a href="{{ page.resources.right.image }}" role="tab" class="button custom middle radius hide-for-small-only"  target="_blank" aria-controls="panel11a">BAIXAR</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="medium-12 columns">
                            <div class="medium-12 columns text-center"><br><br></div>
                            <div class="medium-12 text-center columns medium-centered">
                                <a href="{{ page.resources.right.image }}" role="tab" class="button custom radius show-for-small-only"  target="_blank" aria-controls="panel11a">BAIXAR</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{{ page.resources.link }}" role="tab" class="button custom "  target="_blank" aria-controls="panel11a">MAIS IMAGENS PARA ILUSTRAR</a>
                               
                            </div>     
                        </div>
                     
                        
                    </div>
                </section>