<!-- Orbit -->
                <section id="section-0">
                <div class="row section-shadow">
                    <div class="large-12">
                        <div class="orbit" role="region" aria-label="Destaques" data-orbit>
                            <ul class="orbit-container destaques">
                                <button class="orbit-previous"><span class="show-for-sr">Anterior</span> &#9664;&#xFE0E;</button>
                                <button class="orbit-next"><span class="show-for-sr">Próximo</span> &#9654;&#xFE0E;</button>
                                
                                <!-- CAROUSEL SLIDES HEADER START -->
                                
                                {% for item in page.slide_show %}
                                    <li class="orbit-slide is-active">
                                        <div class="image-container">
                                            <a href="{{ item.link }}"><img class="orbit-image" src="{{ item.image }}" /></a>
                                        </div>
                                        <div class="orbit-caption">
                                            {% if item.title %}
                                                 <div class="header-text ">

                                                    <div class="img-circle hide-for-small-only"><img class="img-circle" src="{{ item.icon }}" alt="Generic placeholder image" ></div>

                                                    <div class="hide-for-small-only">
                                                        <a href="{{ item.link }}"><p class="title-header">{{ item.title }} </p></a>
                                                        <p class="subtitle-header">{{ item.summary }}</p>
                                                    </div>
                                                     
                                                   


                                                <!-- <p class="btn-header  hide-for-small-only"><img src="{{ site.url }}/{{ site.baseurl }}/static/images/icon_play-circular.png" class="icon-now">&nbsp;&nbsp;&nbsp;<a href="#" >AGIR AGORA</a></p> -->
                                                </div>
                                            
                                                <div class="show-for-small-only">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ item.link }}" role="tab" class="button custom radius absolute-bottom"  target="_blank" aria-controls="panel11a"> {{ item.button }} </a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </li>
                                {% endfor %}

                                <!-- CAROUSEL SLIDES HEADER END -->
                            </ul>
                            
          
                            <!-- Bullets navegations slides -->
                     
                            <nav class="orbit-bullets">
                                {% for item in page.slide_show %}
                                    <button data-slide="{{ item.name }}"><span class="show-for-sr">{{ item.name }}</span></button>
                                {% endfor %}
                                
                                <!-- 
                                <button class="is-active" data-slide="0"><span class="show-for-sr">Slide 1</span><span class="show-for-sr">Current Slide</span></button>
                                <button data-slide="1"><span class="show-for-sr">Slide 2</span></button>
                                <button data-slide="2"><span class="show-for-sr">Slide 3</span></button>
                                <button data-slide="3"><span class="show-for-sr">Slide 4</span></button> 
                                -->
                            </nav> 
                              
                        </div>
                    </div>
                </div>
                </section>