 <!-- START SECTION 2: OBJECTIVES -->
                <section id="section-r">
                    <div class="row bg-section-2 topico section-shadow">
                        <div class="small-12 column">
                            <div class="small-12 medium-8 medium-offset-2 text-center column">
                                <h1><br>
                                </h1>
                                {{ page.svg.text | markdownify }}
                            </div>
                        </div>
                        
                        <div class="row small-12 column">
                            <div class="medium-10 text-center column medium-centered ">
                            
                                <embed src="static/images/nocorp10.svg" width="800" height="630" type="image/svg+xml" ></object> 
                            
                            </div>
                        </div>
                        <br>
                    </div>
                </section>
                <!-- END SECTION 2 -->
