---
title: Blog 
layout: blog 
---

 
{% assign posts = paginator.posts %}
{% for post in posts %}
    {% unless post.category contains 'namidia' %}
        <div class="blog-post"> 
          <div class="row blog-title">
            <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
              <hr>
          </div>
          <div class="content">
            <p> 
              {% if post.content.size > 100 %}
              {{ post.content | truncatewords: 100 }}
              <a href="{{ post.url }}"><strong>&nbsp;&nbsp;&nbsp;Leia mais</strong></a>
           {% else %}
              {{ post.content }}
           {% endif %}
            </p> 


          </div>
          <div class="callout">
            <ul class="menu simple">
            <li><a href="#">Data: {{ post.date }} &nbsp;&nbsp;| </a></li>
            <li><a href="#">Autor: {{ post.author }} &nbsp;&nbsp;| </a></li>
            <li><a href="#">Categoria: {{ post.category | upcase | replace: '_',' ' }}</a></li>
            </ul>
          </div>
        </div> 

        <br>
    {% endunless %}  
{% endfor %}    

    






