---
title: Blog Direitos na Rede
layout: blog 
---


                              
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  <hr>
{% endfor %}

<!-- Pagination links -->
<div>
<p>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
  {% else %}
    <span class="previous">Anterior</span>
  {% endif %}
  <span class="page_number "> &nbsp;&nbsp; - Página: {{ paginator.page }} de {{ paginator.total_pages }} - &nbsp;&nbsp; </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Próximo</a>
  {% else %}
    <span class="next ">Próximo</span>
  {% endif %}
</p>&nbsp;
</div>



<style>
blockquote {
  /* font: 14px/22px normal helvetica, sans-serif; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 30px;
  padding-left: 15px;
  border-left: 3px solid #303030;
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
} 
</style>
