---
title: Blog Direitos na Rede
layout: blog 
---

 

<br>

<div class="row" id="content">
<div class="medium-8 columns">


{% assign posts = paginator.posts | except:"midia" %}
{% for post in posts %}
<div class="blog-post"> 
  <div class="row blog-title">
    <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
     
  </div>
  <div class="content">
    <p> 
      {% if post.content.size > 100 %}
      {{ post.content | truncatewords: 100 }}
      <a href="{{ post.url }}"><strong>&nbsp;&nbsp;&nbsp;Leia mais</strong></a>
   {% else %}
      {{ post.content }}
   {% endif %}
    </p> 
      
   
  </div>
  <div class="callout">
    <ul class="menu simple">
    <li><a href="#">Data: {{ post.date }} &nbsp;&nbsp;| </a></li>
    <li><a href="#">Autor: {{ post.author }} &nbsp;&nbsp;| </a></li>
    <li><a href="#">Categoria: {{ post.category }}</a></li>
    </ul>
  </div>
</div> 
    
<br>
    
{% endfor %}    
   
    
</div>
    

<div class="medium-3 columns" data-sticky-container="" style="height: 318px;">
<div class="sticky blog-menu" data-sticky="b0s312-sticky" data-margin-top="5" data-anchor="content"  data-resize="z4sc63-sticky"  style="max-width: 285px;  min-width: 250px;" >

<div class="row blog-menu-titulo"> 
<h4>CATEGORIAS</h4>
    <hr>
</div>   
    
<div class="row blog-menu-itens">
<ul>
{% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <li><a href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <li><a href="{{base_url}}/categories/{{ category | first}}/">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}  
    
</ul>
</div>
    
<div class="row blog-menu-titulo"> 
<h4>LINKS</h4>
    <hr>
</div>
<div class="row blog-menu-itens">
<ul>
<li><a href="#">RSS</a></li>
</ul>
    </div>
</div>
</div>


    
</div>



<div class="row column">
<p>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
  {% else %}
    <span class="previous">Anterior</span>
  {% endif %}
  <span class="page_number "> &nbsp;&nbsp; - Página: {{ paginator.page }} de {{ paginator.total_pages }} - &nbsp;&nbsp; </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Próximo</a>
  {% else %}
    <span class="next ">Próximo</span>
  {% endif %}
</p>&nbsp;
</div>    
    
-->    





<style>
blockquote {
  /* font: 14px/22px normal helvetica, sans-serif; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 30px;
  padding-left: 15px;
  border-left: 3px solid #303030;
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
} 
    
    .blog-post {
        background-color: #ededed; 
        padding: 0px 15px 5px 15px;
        margin-bottom: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }   
    .blog-menu {
        background-color: rgba(138, 138, 138, 0.1); 
        padding: 0px 15px 5px 15px;
        margin-bottom: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }   
    .blog-menu-titulo {
        background-color: rgba(138, 138, 138, 0.1); 
        padding: 15px 15px 5px 15px;
        margin-bottom: 0px;
    } 
    .blog-menu-itens {
        background-color: rgba(138, 138, 138, 0.1); 
        padding: 0px 15px 5px 15px;
        margin-bottom: 0px;
        
    } 
    .blog-title {
        padding: 15px 18px 5px 18px;
        background-color: #000000;
    }
    .callout {
        padding: 7px 17px 10px 7px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 2px;
        background-color: rgba(138, 138, 138, 0.1); 
        color: #684a9f;
       
    }
    .callout a:link { color:  #684a9f; font-weight: bold; }
</style>
