<script>

window.onload = function(){
    var elCheckBox=document.getElementById("myonoffswitch");
    elCheckBox.onchange =function (){
        if (document.getElementById("myonoffswitch").checked==true) {
        document.getElementById("section-1").className = "bg-section-12";
    } else {
        document.getElementById("section-1").className = "bg-section-13";
    }
    }
};
    
</script>


{% include head.html %}
{% include menu.html %}

<!-- Seção 1 -->
                <section id="section-1" class="bg-section-12">
                    <div class="row  section-shadow ">
                        
                        <div class="blog-header large primary">
                        <div class="row column blog-header-title text-left">
                           /// {{ page.title }} 
                        </div>
                        </div>
                        
                        <div class="small-12 medium-centered column">
                                 
                            
                                    
                                    <div class="small-12 columns">
                                    <div class="medium-12 columns medium-centered ">

                                               
                                        
<br>

<div class="row" id="content">
<div class="medium-8 columns">


{{ content }}
   
    
</div>
    

<div class="medium-3 columns" data-sticky-container="" style="height: 318px;">
<div class="sticky blog-menu" data-sticky="b0s312-sticky" data-margin-top="5" data-anchor="content"  data-resize="z4sc63-sticky"  style="max-width: 285px;  min-width: 250px;" >

<div class="row blog-menu-titulo"> 
 <h4>TEMA </h4> 
    <hr>
  <div class="onoffswitch">
   <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>  
    
    
    
    
    

</div>     
    
    
<div class="row blog-menu-titulo"> 
<h4>CATEGORIAS</h4>
    <hr>
</div>   
    
<div class="row blog-menu-itens">
<ul>
{% assign categories_list = site.categories %}
    
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
        {% unless category contains 'namidia' %}
            <li><a href="#{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
        {% endunless %}
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
        {% unless category[0] contains 'namidia' %}
            <li><a href="{{base_url}}/categories/{{ category | first}}/">{{ category[0] | upcase | replace: '_',' ' }} ({{ category[1].size }})</a></li>
        {% endunless %}
    {% endfor %}
  {% endif %}
    
{% assign categories_list = nil %}  
    
</ul>
</div>
    
<div class="row blog-menu-titulo"> 
<h4>LINKS</h4>
    <hr>
</div>
<div class="row blog-menu-itens">
<ul>
<li><a href="#">RSS</a></li>
</ul>

</div>
</div>
</div>


    
</div>



<div class="row column paginator">
<p>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
  {% else %}
    <span class="previous">Anterior</span>
  {% endif %}
  <span class="page_number "> &nbsp;&nbsp; - Página: {{ paginator.page }} de {{ paginator.total_pages }} - &nbsp;&nbsp; </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Próximo</a>
  {% else %}
    <span class="next ">Próximo</span>
  {% endif %}
</p>&nbsp;
</div>    
                                        
                                        
                                        </div>

                                        
                                    </div>
                                </div>
                           
                        </div>
                 
                </section>
                                        

{% include foot.html %}




<style>
blockquote {
  /* font: 14px/22px normal helvetica, sans-serif; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 30px;
  padding-left: 15px;
  border-left: 3px solid #303030;
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
} 
    
     .blog-header {
        background-image: url("{{ site.url }}/static/images/banner_manifesto.png");
        background-repeat: no-repeat; 
        background-size:contain;
        background-position:top;
        background-size: 100%;
        width: 100%;
        height: 30vw;
        display: table;
        position: relative;
        padding-left: 4%;
    }
    .blog-header-title {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        font-size: 4vw;
        width: 100%;
        height: 100%;
        
        text-transform: uppercase;
        display: table-cell; 
        vertical-align: middle;
        font-weight: bold;
    }
    
    .blog-post {
        padding: 0px 15px 5px 15px;
        margin-bottom: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }   
    .blog-menu {
        background-color: rgba(138, 138, 138, 0.1); 
        padding: 0px 15px 5px 15px;
        margin-bottom: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }   
    .blog-menu-titulo {
        background-color: rgba(138, 138, 138, 0.1); 
        padding: 15px 15px 5px 15px;
        margin-bottom: 0px;
    } 
    .blog-menu-itens {
        background-color: rgba(138, 138, 138, 0.1); 
        padding: 0px 15px 5px 15px;
        margin-bottom: 0px;
        
    } 
    .blog-title {
        padding: 15px 18px 5px 18px;
    
    }
    .callout {
        padding: 7px 17px 10px 7px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 2px;
       
    }
    .callout a:link { color:  #684a9f; font-weight: bold; }
    
    .paginator { 
        color: #e1e1e1;
    }
    .paginator p { 
        color: #e1e1e1;
    }
    
    
.onoffswitch {
    position: relative; width: 133px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 15px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Escuro";
    padding-left: 11px;
    background-color: #273133; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Claro";
    padding-right: 11px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 10px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 99px;
    border: 2px solid #999999; border-radius: 15px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
    
</style>

