<!-- _includes/base.html -->

{% include head.html %}
{% include menu.html %}

{% if page.header.image %}
    {% if page.header.image != '' %} 
        {% include header_campaign.html %} 
    {% endif %}
{% endif %}
<!-- Seção 1 -->
                <section id="section-1">
                    <div class="row bg-section-8 topico section-shadow">
                        <div class="column small-12 small-centered medium-11 medium-centered large-10 large-centered">
                            {% if page.header.icon %}
                                {% if page.header.icon != '' %} 
                                <div class="row small-12 text-center column small-centered">
                                    <div><img class="img-circle-title show-for-small-only" src="{{ page.header.icon }}" alt="Generic placeholder image"></div><br>

                                    {% if page.header.image == false or page.header.image == '' %} 

                                        <div><img class="img-circle-title hide-for-small-only" src="{{ page.header.icon }}" alt="Generic placeholder image"></div><br>
                                    

                                    {% endif %}
                                </div> 
                            {% endif %}
                                {% endif %}
                            <div class="row column small-12 small-centered medium-12 medium-centered large-12 large-centered">
                                
                            {% if page.header.image %}
                                {% if page.header.image != '' %} 
                                    {% if page.header.showtitle == null %} 
                                    <div class="show-for-small-only">
                                        <p class="title-header">{{ page.header.title }} </p>
                                        <p class="subtitle-header">{{ page.header.summary }}</p>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            
                                {{ content }}
                            </div>      
                        </div>
                    </div>
                
                </section>

{% for item in page %}

    {% if item contains 'partners' %} 
        {% include partners.html %}

    {% elsif item contains 'resources' %}
        {% include resources.html %}

    {% elsif item contains 'boxes' %}
        {% include boxes.html %}

    {% elsif item contains 'embedd' %}
        {% include embedd.html %}

    {% elsif item contains 'columns' %}
        {% include columns.html %}

    {% elsif item contains 'blank' %}
        {% include blank.html %}

    {% endif %}

{% endfor %}


{% include foot.html %}


<style>
blockquote {
  /* font: 14px/22px normal helvetica, sans-serif; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 15px;
  border-left: 3px solid #303030;
  background-color: rgba(255, 255, 255, 0.1);
} 
</style>
