{% include head.html %}
{% include menu.html %}
            <!-- <div class="row full-width off-canvas-content" data-off-canvas-content> -->
                {% include slide_show.html %}
            
                <!-- START SECTION 1: PRESENTATION -->
                <section id="section-1">
                    <div class="row bg-section-1 topico section-shadow ">
                        <div class="small-12 column">
                            <div class="medium-10 text-center column medium-centered ">
                                {{ content }}
                    
      
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END SECTION 1 -->

            {% include columns.html %}
            {% include campaigns.html %}
            {% include list.html %}
            {% include columns2.html %}
            {% include svg.html %}
            {% include contact.html %}
            {% include follow.html %}
            <!-- </div> -->
{% include foot.html %}

