
{% include head.html %}
{% include menu.html %}

<!-- Seção 1 -->
                <section id="section-1">
                    <div class="row bg-section-1_2 section-shadow ">
                        <div class="small-12medium-centered column">
                                    <div class="small-12 medium-8 medium-offset-2 text-center column">
                                    <h1><br>
                                        <i class="fi-arrows-compress"></i>&nbsp;&nbsp;<i class="fi-arrows-compress"></i>&nbsp;&nbsp;<i class="fi-arrows-compress"></i><br>
                                        
                                    </h1>
                                        <br>
                                    </div>
                                    
                                    <div class="small-12 column">
                                    <div class="medium-8 column medium-centered ">

                                                {{ content }}

                                        </div>

                                        
                                    </div>
                                </div>
                           
                        </div>
                 
                </section>
                                        

{% include foot.html %}


<style>
blockquote {
  /* font: 14px/22px normal helvetica, sans-serif; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 30px;
  padding-left: 15px;
  border-left: 3px solid #303030;
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
} 
</style>