---
title: Blog 
layout: blog
---


<div class="blog-post"> 
  <div class="row blog-title">
    <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
      <hr>
  </div>
  <div class="content">

                {{ content }}

        <br>

    {% if page.source %}
        {% if page.source.name != '' %} 
            <h4>Fonte: </h4> 
            <p>{{ page.source.name }} - <a href="{{ page.source.link }}" target="_blank">{{ page.source.link }}</a> </p>
        {% endif %}
    {% endif %}
      
   
  </div>
  <div class="callout">
            <ul class="menu simple">
            <li><a href="#">Data: {{ page.date }} &nbsp;&nbsp;| </a></li>
            <li><a href="#">Autor: {{ page.author }} &nbsp;&nbsp;| </a></li>
            <li><a href="#">Categoria: {{ page.category | upcase | replace: '_',' ' }}</a></li>
            </ul>
          </div>
</div> 
    
<br>
    




